.filter {
    position: relative;
}

.btn-filter {
    background: var(--fondo-componente);
    border-radius: var(--border-radius-btn);
    border: 1px solid var(--gris);
    outline: none;
    box-sizing: border-box;
    height: 37px;
    left: 50%;
    padding: 0 7px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.btn-filter:hover {
    box-shadow: var(--box-shadow);
    border-color: var(--texto-gris);
}

.dropdown {
    position: absolute;
    top: 110%;
    left: 15px;
    background: var(--fondo-componente);
    border: 1px solid var(--gris);
    border-radius: var(--border-radius-btn);
    width: 400%;
    z-index: 10;
    color: var(--texto);
    box-shadow: var(--box-shadow);
}

.item {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid var(--gris);
}

.item:hover {
    background: var(--gris);
}


@media (max-width: 768px) {
    .btn-filter {
        height: 30px;
        left: 50%;
        padding: 0 7px;
        position: relative;
        cursor: pointer;
        transition: all .3s;
    }

    .btn-filter svg {
        width: 15px;
        height: 15px;
    }

}